Say "Hello, World!" with Python

In [ ]:
print("Hello, World!")

Python If-Else

In [ ]:
#!/bin/python
import math
import os
import random
import re
import sys

if __name__ == '__main__':
    n = int(input().strip())
    if n>=1 and n<=100:
        if n%2!=0:
            print("Weird")
        else:
            if n>=2 and n<=5:
                print("Not Weird")
            elif n>=6 and n<=20:
                print("Weird")
            else:
                print("Not Weird")

Arithmetic Operators

In [ ]:
if __name__ == '__main__':
    a = int(input())
    b = int(input())
    print(a+b)
    print(a-b)
    print(a*b)

Python: Division

In [ ]:
if __name__ == '__main__':
    a = int(input())
    b = int(input())
    print(a//b)
    print(a/b)

Loops

In [ ]:
def is_leap(year):
    leap = False
    
    if year>=1900 and year<=100000:
      
        if (year % 400 == 0) and (year % 100 == 0):
            leap= True

        elif (year % 4 ==0) and (year % 100 != 0):
            leap= True

        else:
            leap = False
    
    return leap

year = int(input())

Write a function

In [ ]:
if __name__ == '__main__':
    n = int(input())

    if n>=1 and n<=150:
        for i in range(1,n+1):
            print(i,end="")

Print Function

In [ ]:
if __name__ == '__main__':
    n = int(input())
    for i in range(n):
        print(i*i)